@import url("https://use.typekit.net/nev3gjp.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    font-family:"articulat-cf", sans-serif;
    height: 95vh;
  }

  .herocaption,.navbar{
    font-family: "forma-djr-display", sans-serif;
  }
  .herostroke {
    font-family: "forma-djr-display", sans-serif;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1FD7D7;

  }
  .blackherostroke{
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-left: -40px;
  }
};